.topNavBar {
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  border: 1px solid #464a5529;
  box-shadow: -1px 0px 0px 0px #464a5529 inset;
}
.navbartext {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4b5159;
}
